name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: update
      run: sudo apt update
    - name: install_deps
      run: sudo apt install libeigen3-dev libgoogle-glog-dev libopencv-dev libpcl-dev python3 python3-dev python3-pip
    - name: pip3 install matplotlib
      run: pip3 install matplotlib
    - name: build
      run: mkdir build
    - name: cmake only cpp test
      run: cmake -DONLY_CPP_TEST=ON ..
      working-directory: ./build/
    - name: build
      run: make -j8
      working-directory: ./build/
    - name: execution 1
      run: ./cpp_test/bind_function_test
      working-directory: ./build/
